{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<h2>Fast Cable Tool</h2>

<div style="display:flex; gap:20px;">

<div>
<h3>Device A</h3>
<select id="devA"></select>
<div id="ifA"></div>
</div>

<div>
<h3>Device B</h3>
<select id="devB"></select>
<div id="ifB"></div>
</div>

</div>

<button onclick="createCable()">Create Cable</button>

<script>
window.CSRF_TOKEN = "{{ csrf_token }}";
</script>

<script src="{% static 'netbox_fast_cable/app.js' %}"></script>

{% endblock %}
